@import 'tailwindcss';

@font-face {
  font-family: 'FSIndustrie';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/FSIndustrie-Regular.woff) format('woff');
}

@font-face {
  font-family: 'FSIndustrie';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/FSIndustrie-Italic.woff) format('woff');
}

@font-face {
  font-family: 'FSIndustrie';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/FSIndustrie-Bold.woff) format('woff');
}

@font-face {
  font-family: 'FSIndustrieCd';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/FSIndustrieCd-Regular.woff) format('woff');
}

@font-face {
  font-family: 'FSIndustrieCd';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/FSIndustrieCd-Italic.woff) format('woff');
}

@theme {
  --font-sans: 'FSIndustrie', sans-serif;
  --font-cd: 'FSIndustrieCd', sans-serif;
  --color-*: initial;
  --color-white: #fff;
  --color-black: #000;
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-grey-1: #222;
  --color-grey-2: #3e3c41;
  --color-grey-3: #a8a9b3;
  --color-grey-4: #f0f0f2;
}

.editor-styles-wrapper {
  @apply !font-sans px-12;
}

.editor-styles-wrapper p,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3 {
  @apply mb-4;
}

.editor-styles-wrapper h2,
.editor-styles-wrapper h3 {
  @apply font-bold;
}

h1 {
  @apply font-bold mb-4;
}

.wp-block-post-content > .wp-block + .wp-block {
  @apply mt-8;
}

.wp-block-group + .wp-block-buttons {
  @apply mt-4;
}

.wp-block-group.is-layout-grid {
  @apply my-8;
}

#overlay {
  @apply my-8;
}

.editor-styles-wrapper .components-checkbox-control__label {
  @apply !font-sans;
}

.editor-styles-wrapper .search-result .components-checkbox-control {
  @apply bg-grey-4 p-2 rounded-md w-96;
}

.editor-styles-wrapper .search-result .components-checkbox-control__label {
  @apply !font-sans w-full;
}

.recording-list {
  @apply space-y-0.5;
}

.editor-styles-wrapper .tools {
  @apply h-12;
}

.recordings-grid {
  @apply grid grid-cols-6 gap-4 text-xs mb-4;
}

.recordings-grid .info {
  @apply py-2;
}

.recordings-grid .info h3 {
  @apply italic;
}

.recordings-grid .recording-thumb h3 {
  @apply !mb-0;
}

.recordings-grid .recording-thumb img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.wp-block-quote + .wp-block-quote {
  @apply mt-4 pt-4 border-t border-t-grey-3;
}

.editor-styles-wrapper
  .wp-embed-aspect-21-9.wp-has-aspect-ratio.wp-block-embed {
  @apply max-w-[32rem];
}

